

/* =========================
   INTRO / PUERTAS
========================= */
#intro-screen{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#050510;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:999;
text-align:center;
padding:20px;
}


/* texto encima */
.intro-contenido{
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.intro-contenido h1{
  font-size: 50px;
  color: aliceblue;
  text-shadow: 0 0 20px #00e1ff;
}

.intro-contenido p{
  font-size: 18px;
  color: #bdefff;
  margin-bottom: 20px;
}


.intro-text{
max-width:600px;
color:#ccc;
margin:10px 0;
}

#intro-screen ul{
list-style:none;
padding:0;
color:#00ffff;
margin:15px 0;
}

#startBtn{
  padding: 14px 28px;
  font-size: 18px;
  border: 2px solid #00e1ff;
  background: rgba(0,0,0,0.6);
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}


#startBtn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px #00e1ff;

}






/* puertas */
.puerta{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #111827);
  transition: 1.2s ease;
  z-index: 1;
}

.izquierda{
  left: 0;
  border-right: 1px solid #00e1ff33;
}

.derecha{
  right: 0;
  border-left: 1px solid #00e1ff33;
}

/* estado abierto */
#intro-screen.abrir .izquierda{
  transform: translateX(-100%);
}

#intro-screen.abrir .derecha{
  transform: translateX(100%);
}



body{
margin:0;
font-family:Arial;
background:#050510;
color:white;
text-align:center;
overflow:hidden;
}

.bg{
position:fixed;
width:100%;
height:100%;
background:
linear-gradient(rgba(0,255,255,0.05) 1px, transparent 1px),
linear-gradient(90deg, rgba(0,255,255,0.05) 1px, transparent 1px);
background-size:40px 40px;
}

h1{
color:#00ffff;
text-shadow:0 0 15px cyan;
margin-top:20px;
}

#game{
position:relative;
height:70vh;
margin-top:20px;
}

#block{
position:absolute;
top:0;
left:50%;
transform:translateX(-50%);
padding:15px 20px;
background:#111;
border:2px solid #00ffff;
border-radius:10px;
box-shadow:0 0 20px cyan;
cursor:pointer;
transition:0.3s;
}

.columns{
display:flex;
justify-content:center;
align-items:flex-end;
gap:20px;
height:70vh;
padding:20px;
flex-wrap:wrap;
}

/* CANAL CENTRAL */
#drop-zone{
width:min(220px, 30vw);

min-width:140px;

/* 👇 IMPORTANTE */
height:65vh;
min-height:420px;

position:relative;

border:2px solid rgba(0,255,255,0.2);
border-radius:15px;

background:rgba(0,0,0,0.2);

box-shadow: inset 0 0 20px rgba(0,255,255,0.1);

overflow:hidden;
}

/* BLOQUE CAE SOLO EN ESTE CANAL */
#block{
position:absolute;
top:0;
left:50%;
transform:translateX(-50%);
padding:12px;
background:#111;
border:2px solid #00ffff;
border-radius:10px;
box-shadow:0 0 15px cyan;
width:min(160px, 24vw);
min-width:100px;
text-align:center;
font-size:clamp(12px,1.5vw,16px);
word-wrap:break-word;
}

.col{
flex:1;
min-width:180px;
max-width:250px;
height:60vh;

border:2px dashed rgba(255,255,255,0.2);
border-radius:15px;

position:relative;

display:flex;
flex-direction:column;
justify-content:flex-end;

padding:10px;

transition:0.3s;
}


.col h2{
font-size:16px;
color:#aaa;
}

.item{
background:#00ffff;
color:black;
padding:8px;
margin:5px 0;
border-radius:8px;
font-size:clamp(11px,1.2vw,14px);
box-shadow:0 0 10px cyan;
}

#info{
margin-top:20px;
font-size:clamp(16px, 2vw, 25px);
color:#00ffff;
text-shadow:0 0 15px cyan;
min-height:40px;
padding:10px;
}


/*responsive*/

@media (max-width: 768px){

  #intro-screen{
  
position:fixed;

width:93%;
height:100%;
background:#050510;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:999;
text-align:center;
padding:20px;
}


  #info{
margin-top:-580px;
font-size:clamp(16px, 2vw, 25px);
color:#00ffff;
text-shadow:0 0 15px cyan;
min-height:40px;
padding:10px;
}



  h1{
    font-size:20px;
    padding:0 10px;
  }

  p{
    font-size:14px;
  }

  .columns{
    gap:10px;
    padding:10px;
    height:60vh;
  }

  #drop-zone{
    width:120px;
    min-width:120px;
    height:55vh;
    min-height:320px;
  }

  #block{
    width:95px;
    font-size:11px;
    padding:8px;
  }

  .col{
    min-width:18px;
    height:55vh;
    padding:6px;
  }

  .col h2{
    font-size:11px;
  }

  .item{
    font-size:10px;
    padding:5px;
  }

 
}